In [3]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Titanic-Dataset.csv")
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:

fare = df[['Fare']]
print(fare.head())


class_age = df[['Pclass', 'Age']]
print(class_age.head())

survived_gender = df[['Survived', 'Sex']]
print(survived_gender.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [6]:
# 1. Fare > 100
fare_gt_100 = df[df['Fare'] > 100]
print(fare_gt_100.head())

# 2. Pclass = 1
first_class = df[df['Pclass'] == 1]
print(first_class.head())

# 3. Female under 18
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]
print(female_under_18.head())

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

In [7]:
# Embarked C or S
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]
print(embarked_c_or_s.head())

# Pclass in [1,2]
first_second_class = df[df['Pclass'].isin([1,2])]
print(first_second_class.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

In [9]:
# 1. Add fare per year column
df['fare_per_year'] = df['Fare'] / df['Age']

# 2. Subset where fare_per_year > 5
high_fare_age = df[df['fare_per_year'] > 5]

# 3. Sort descending
high_fare_age_srt = high_fare_age.sort_values(by="fare_per_year", ascending=False)

# 4. Select Name + fare_per_year
result = high_fare_age_srt[['Name', 'fare_per_year']]

# 5. Display
print(result.head(10))

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000
827            Mallet, Master. Andre      37.004200
78     Caldwell, Master. Alden Gates      34.939759
644           Baclini, Miss. Eugenie      25.677733
469    Baclini, Miss. Helene Barbara      25.677733
831  Richards, Master. George Sibley      22.590361

In [10]:
# 1. Add fare per class
df['fare_per_class'] = df['Fare'] / df['Pclass']

# 2. Subset adult males
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]

# 3. Sort descending
adult_males_srt = adult_males.sort_values(by="fare_per_class", ascending=False)

# 4. Select Name, Age, fare_per_class
result2 = adult_males_srt[['Name', 'Age', 'fare_per_class']]

# 5. Display
print(result2.head(10))

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
557                 Robbins, Mr. Victor  28.0        227.5250
527                  Farthing, Mr. John  28.0        221.7792
377           Widener, Mr. Harry Elkins  27.0        211.5000
332           Graham, Mr. George Edward  38.0        153.4625
373                 Ringhini, Mr. Sante  22.0        135.6333

In [13]:
# 1. Total fare overall
total_fare = df['Fare'].sum()

# 2â€“3. Total fare per class
fare_class_1 = df[df['Pclass'] == 1]['Fare'].sum()
fare_class_2 = df[df['Pclass'] == 2]['Fare'].sum()
fare_class_3 = df[df['Pclass'] == 3]['Fare'].sum()

# 4. Combine
fare_list = [fare_class_1, fare_class_2, fare_class_3]

# 5. Percent revenue per class
percentages = [(x / total_fare) * 100 for x in fare_list]

print("Percent fare revenue by class:")
print(f"First Class:  {percentages[0]:.2f}%")
print(f"Second Class: {percentages[1]:.2f}%")
print(f"Third Class:  {percentages[2]:.2f}%")

Percent fare revenue by class:
First Class:  63.35%
Second Class: 13.25%
Third Class:  23.40%

In [12]:
# 1. Create age group column
def age_group(age):
    if age < 18:
        return "child"
    elif age < 65:
        return "adult"
    else:
        return "senior"

df['age_group'] = df['Age'].apply(age_group)

# 2. Total passengers
total_passengers = len(df)

# 3. Count per group
group_counts = df['age_group'].value_counts()

# 4. Percent of each group
percent_group = (group_counts / total_passengers) * 100

# 5. Display
print(percent_group)

age_group
adult     86.083053
child     12.682379
senior     1.234568
Name: count, dtype: float64